hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.content {
    margin: 0 auto;
    margin-top: 40px;
    max-width: none;  /* No cap, allows full width expansion */
    width: 100%;      /* Full viewport width */
}

div.help {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

div.copyright {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    text-align: right;
}

img{
    border: 0px solid black;
}

img.image-display {
    display: block;
    height: auto;
    line-height: 0;
    margin-top: 0;
    background: #222;    
}

img.inset {
    border: 0px solid #000;
    background-color: #222;
    margin: 0px;
    padding: 0px;
}

.pixelated {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

table.insets {
    border: 0px solid #000;
    border-spacing: 0;
    margin: 0 auto;  /* Center the table */
    padding: 0px;
    background-color: #333;
}

td.insets {
    font-family: 'Open Sans', sans-serif;
    color: #AAA;
    font-weight: normal;
    border: 0px solid #000;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: bottom;
}

tr.insets {
    border: 0px solid #000;
    margin: 0px;
    padding: 0px;
}

.selector {
    padding: 8px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.selector-primary {
    color: #AAA;
    background-color: #333;
}
.selector-primary.active {
    color: #FFF;
    background-color: #1F8DD6;
}

.selector-group {
    padding: 0px;
    background-color: #333;
}

.selector-group>.selector {
    position: relative;
}

div.image-box {
    max-width: 2560px;  /* Bigger width for the entire image box */
    margin: 0 auto;      /* Centers the image box */
    width: 100%;         /* Responsive, but caps at 2560px */
}

table.stats {
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-left: auto; 
    margin-right: auto;
    min-width: 2560px;  /* Match bigger width */
    padding-bottom: 20px;
}

caption.stats {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

thead.stats {
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
}

th.stats {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding: 0.5em 1em;
    border-top: 1px solid #CCC;
}

th.stats:first-child { border-left: 1px solid #CCC; border-top-left-radius: 5px; }
th.stats:last-child { border-right: 1px solid #CCC; border-top-right-radius: 5px; }
td.stats:last-child { border-right: 1px solid #CCC; }
tr.stats:last-child>td { border-bottom: 1px solid #CCC; }
tr.stats:last-child>td:first-child { border-bottom-left-radius: 5px; }
tr.stats:last-child>td:last-child  { border-bottom-right-radius: 5px; }

td.stats {
    text-align: right;
    padding: 0.5em 1em;
    border-left: 1px solid #CCC;
    border-width: 0 0 0 1px;
}

canvas.chart-canvas {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    padding-top: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: #FFF;
}